Repository szabadkai/rivet-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-fmt-check, cargo-clippy, cargo-test, actionlint

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  args:
  - --

cargo-fmt-check:
  name: cargo fmt check
  entry: cargo fmt
  language: system
  args:
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  args:
  - --
  - -D
  - warnings
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test
  language: system
  pass_filenames: false

actionlint:
  name: actionlint (validate GitHub workflows)
  entry: bash -lc 'if command -v actionlint >/dev/null 2>&1; then actionlint; else echo "actionlint not installed; skipping"; fi'
  language: system

fix format
  .github/workflows/workflow-lint.yml
  src/commands/gen.rs
  src/commands/grpc.rs
  src/commands/import.rs
  src/commands/mod.rs
  src/commands/perf.rs
  src/grpc.rs
  src/lib.rs
  src/main.rs
  src/performance/metrics.rs
  src/performance/mod.rs
  tests/gen_tests.rs
  tests/grpc_integration_tests.rs
  tests/grpc_tests.rs
  tests/import_tests.rs
  tests/real_world_integration_tests.rs
  tests/stress_edge_case_tests.rs
Due: cargo-fmt, cargo-fmt-check, cargo-clippy, cargo-test, actionlint

perf testing
  src/commands/perf.rs
  src/lib.rs
  src/main.rs
  src/performance/metrics.rs
  src/performance/monitor.rs
  src/performance/patterns.rs
  src/performance/runner.rs
  src/runner/variables.rs
  tests/performance_tests.rs
Due: cargo-fmt, cargo-fmt-check, cargo-clippy, cargo-test

cargo fmt
  src/performance/metrics.rs
  src/performance/mod.rs
  src/performance/monitor.rs
  src/performance/patterns.rs
  src/performance/runner.rs
  tests/performance_tests.rs
Due: cargo-fmt, cargo-fmt-check, cargo-clippy, cargo-test

workflow fixes and prehooks
  .github/CONTRIBUTING.md
  .github/workflows/release.yml
  DEVELOPMENT.md
  Makefile
  packaging/homebrew/Formula.template.rb
  scripts/check.sh
  src/config.rs
  src/performance/metrics.rs
  src/performance/runner.rs
  src/report.rs
  src/runner/variables.rs
  tests/performance_tests.rs
Due: cargo-fmt, cargo-fmt-check, cargo-clippy, cargo-test, actionlint

fix warnings
  .github/CONTRIBUTING.md
  DEVELOPMENT.md
  Makefile
  scripts/check.sh
  src/commands/gen.rs
  src/commands/import.rs
  tests/grpc_tests.rs
Due: cargo-fmt, cargo-fmt-check, cargo-clippy, cargo-test

gql docs
  README.md
  examples/graphql/README.md
  examples/graphql/data/products.csv
  examples/graphql/data/users.csv
  examples/graphql/ecommerce.rivet.yaml
  examples/graphql/error-handling.rivet.yaml
  examples/graphql/users.rivet.yaml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-fmt-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  actionlint: any of: ^\.github/workflows/.*
